base "#1e1e2e"
crust "#11111b"
mantle "#181825"

primary "#eba0ac"
secondary "#cba6f7"

green "#94e2d5"
red "#f38ba8"
blue "#89dceb"
yellow "#f9e2af"
orange "#fab387"

text "#cdd6f4"
subtext "#bac2de"
overlay "#9399b2"
